
  <% if @model == 'user' %>
    <h3>【Usersモデルの検索結果】検索ワード：<%= @content %></h3>
      <%= render 'users/index', users: @records %>
        <% else @model == 'books' %>
          <h3>【Postsモデルの検索結果】検索ワード：<%= @content %></h3>
            <%= render 'books/index', books: @records %>
  <% end %>
